h1 {
  text-align: center;
  text-decoration: underline;
  font-size: 60px;
}

h2 {
  text-align: center;
}

#color {
  height: 400px;
  width: 400px;
  align-items: center;
}

body {
  background-image: url(https://i.ytimg.com/vi/dBC6A2svChE/maxresdefault.jpg);
  background-size: 200%;
  background-position: center;
}

label h1 h2 {
  color: white;
}
